# -*- coding: utf-8 -*-
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'libreqda',
        'USER': '***',
        'PASSWORD': '***',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

SECRET_KEY = 'type your secret key here'

# Where to upload documents. Leave as empty string to use a path relative
# to the project source code.
# Warning: You must have write perms over this path.
DOCUMENTS_UPLOAD_PATH = ''
