body {
    background-color: #F6F6F6;
}

.navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.login-container {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 180px;
    margin: -150px 0px 0px -250px;
    position: absolute;
    padding-top: 20px !important;
}

.with-border {
    padding: 4px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCC;
}

.grey-background {
    background-color: #E8E8E8;
}

.white-background {
    background-color: White;
}
