{% load i18n %}

<table class="table table-striped table-bordered key-value-table">
  <tbody>
    <tr>
      <td class="key">{% trans "Fecha de creación" %}</td>
      <td class="value">{{ annotation.creation_date }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Creador" %}</td>
      <td class="value">{{ annotation.created_by }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Número de documentos" %}</td>
      <td class="value">TODO</td>
    </tr>
    <tr>
      <td class="key">{% trans "Número total de códigos" %}</td>
      <td class="value">TODO</td>
    </tr>
    <tr>
      <td class="key">{% trans "Número total de citas" %}</td>
      <td class="value">TODO</td>
    </tr>
  </tbody>
</table>

<span>
  {{ annotation.text|linebreaks }}
</span>