{% extends "base.html" %}

{% load i18n %}
{% load filters %}

{% block head %}
  {{ block.super }}
{% endblock head %}

{% block topbar_extra %}
{% endblock topbar_extra %}

{% block body %}
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="toolbar">
        <a class="btn btn-success pull-right" href="{% url new_category pid=project.id %}"><i class="icon-book icon-white"></i>  {% trans "Agregar categoría" %}</a>
      </div>
      <div class="white-background with-border lone-container">
        {% if project.categories.all %}
          <table class="table table-condensed table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Etiqueta" %}</th>
                <th>{% trans "Citas" %}</th>
                <th>{% trans "Códigos" %}</th>
                <th>{% trans "Anotaciones" %}</th>
                <th>{% trans "Documentos" %}</th>
                <th>{% trans "Añadido por" %}</th>
                <th>{% trans "Fecha" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for category in project.categories.all %}
                <tr>
                  <td>{{ forloop.counter}}</td>
                  <td>{{ category|pretty_print_category_name|safe }}</td>
                  <td>{{ category.citations.count }}</td>
                  <td>{{ category.codes.count }}</td>
                  <td>{{ category.annotations.count }}</td>
                  <td>{{ category.documents.count }}</td>
                  <td>{{ category.created_by }}</td>
                  <td>{{ category.creation_date }}</td>
                  <td><a class="btn btn-small btn-danger pull-right" href="{% url delete_category pid=project.id cid=category.id %}"><i class="icon-trash icon-white"></i>  {% trans "Eliminar" %}</a></td>
                </tr>
                <tr>
                  {% if category.comment %}
                    <td colspan="9">{{ category.comment }}</td>
                  {% else %}
                    <td colspan="9">{% trans "La categoría no tiene descripción." %}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-info">
            <h4>{% trans "¡No hay categorías!" %}</h4>
            <p>{% trans "No hay categorías para el proyecto. Puede " %}<strong><a href="{% url new_category pid=project.id %}">{% trans "agregar una" %}</a></strong>.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}