{% load filters %}

<script>
$(document).ready(function() {
    $('.addUser').click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("url"); // get the contact form url
        $("#userModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    $('#userModal form').on('submit', function() {
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#userModal').html(data);
            }
        });
        return false;
    });
   
   });
</script>

<div class="modal hide fade" id="userModal">
</div>

<div class="toolbar-small">
  <a data-url="/project/{{project.id}}/user/add" class="btn btn-small btn-success pull-right addUser"><i class="icon-user icon-white"></i> Agregar usuario</a>
</div>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Rol</th>
      <th>Fecha</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td> - </td>
        <td>{{ project.owner }}</td>
        <td>Dueño</td>
        <td>{{ project.creation_date }}</td>
        <td></td>
      </tr>
    {% for user in project.permissions.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.user.username }}</td>
        <td>{{ user|get_permission_text }}</td>
        <td>{{ user.creation_date }}</td>
        <td>
          <a class="btn btn-small btn-danger pull-right" href="/project/{{project.id}}/user/{{user.id}}/delete"><i class="icon-trash icon-white"></i>  Eliminar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>