{% load i18n %}
{% load filters %}

<table class="table table-condensed table-striped table-bordered key-value-table">
  <tbody>
    <tr>
      <td class="key">{% trans "Versión" %}</td>
      <td class="value">{{ project.version }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Fecha de creación" %}</td>
      <td class="value">{{ project.creation_date }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Fecha de modificación" %}</td>
      <td class="value">{{ project.modified_date }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Creador" %}</td>
      <td class="value">{{ project.owner }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Comentario" %}</td>
      <td class="value">
      {% if project.comment %}
        {{ project.comment|linebreaks }}
      {% else %}
        {% trans "El proyecto no tiene un comentario." %}
      {% endif %}
      </td>
    </tr>
    <tr>
      <td class="key">{% trans "Número de documentos" %}</td>
      <td class="value">{{ project.documents.count }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Número total de códigos" %}</td>
      <td class="value">{{ project.codes.count }}</td>
    </tr>
    <tr>
      <td class="key">{% trans "Número total de citas" %}</td>
      <td class="value">{{ project|project_citation_count }}</td>
    </tr>
  </tbody>
</table>