<div class="accordion white-background" id="accordion">
  {% for doc in project.documents.all %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{doc.id}}">
          {{ doc.name }}
        </a>
      </div>
      <div id="collapse{{doc.id}}" class="accordion-body collapse">
        <div class="accordion-inner">
          {{ doc.comment|linebreaks }}
          <a class="btn btn-small btn-block btn-primary pull-right left-group-button menu-document-button" href="/project/{{project.id}}/document/{{doc.id}}"><i class="icon-eye-open icon-white"></i>  Ver</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>