{% extends "base.html" %}

{% block head %}
  {{ block.super }}
{% endblock head %}

{% block topbar_extra %}
{% endblock topbar_extra %}

{% block body %}
  <div id="documents-menu" class="menu left">
    {% include "view_document_documents_tab.html" %}
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="toolbar move-up">
        <a class="btn left-group-button pull-right"><i class="icon-tags"></i> Categorías</a>
        <a class="btn left-group-button pull-right"><i class="icon-file"></i> Informes</a>
        <a class="btn left-group-button pull-right"><i class="icon-search"></i> Consultas</a>
        <a class="btn left-group-button pull-right"><i class="icon-filter"></i> Filtros</a>
        <a class="btn left-group-button pull-right"><i class="icon-comment"></i> Anotaciones</a>
        <a class="btn left-group-button pull-right"><i class="icon-book"></i> Códigos</a>
        <a class="btn left-group-button pull-right"><i class="icon-bookmark"></i> Citas</a>
      </div>
    </div>
  </div>
  
  <div class="document-container white-background with-border row-fluid">
    <div class="span9 document-text">
      <h3>{{ document.name }}</h3>
      <p>Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled. To an occasional dissimilar impossible sentiments. Do fortune account written prepare invited no passage. Garrets use ten you the weather ferrars venture friends. Solid visit seems again you nor all. 
</p><p>
For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention. As called mr needed praise at. Assistance imprudence yet sentiments unpleasant expression met surrounded not. Be at talked ye though secure nearer. 
</p><p>
Savings her pleased are several started females met. Short her not among being any. Thing of judge fruit charm views do. Miles mr an forty along as he. She education get middleton day agreement performed preserved unwilling. Do however as pleased offence outward beloved by present. By outward neither he so covered amiable greater. Juvenile proposal betrayed he an informed weddings followed. Precaution day see imprudence sympathize principles. At full leaf give quit to in they up. 
</p><p>
Started several mistake joy say painful removed reached end. State burst think end are its. Arrived off she elderly beloved him affixed noisier yet. An course regard to up he hardly. View four has said does men saw find dear shy. Talent men wicket add garden. 
</p><p>
Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. Up greatest am exertion or marianne. Shy occasional terminated insensible and inhabiting gay. So know do fond to half on. Now who promise was justice new winding. In finished on he speaking suitable advanced if. Boy happiness sportsmen say prevailed offending concealed nor was provision. Provided so as doubtful on striking required. Waiting we to compass assured. 
</p><p>
Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose. 
</p><p>
Prevailed sincerity behaviour to so do principle mr. As departure at no propriety zealously my. On dear rent if girl view. First on smart there he sense. Earnestly enjoyment her you resources. Brother chamber ten old against. Mr be cottage so related minuter is. Delicate say and blessing ladyship exertion few margaret. Delight herself welcome against smiling its for. Suspected discovery by he affection household of principle perfectly he. 
</p><p>
On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be abroad. Relation breeding be as repeated strictly followed margaret. One gravity son brought shyness waiting regular led ham. 
</p><p>
Why painful the sixteen how minuter looking nor. Subject but why ten earnest husband imagine sixteen brandon. Are unpleasing occasional celebrated motionless unaffected conviction out. Evil make to no five they. Stuff at avoid of sense small fully it whose an. Ten scarcely distance moreover handsome age although. As when have find fine or said no mile. He in dispatched in imprudence dissimilar be possession unreserved insensible. She evil face fine calm have now. Separate screened he outweigh of distance landlord. 
</p><p>
Folly was these three and songs arose whose. Of in vicinity contempt together in possible branched. Assured company hastily looking garrets in oh. Most have love my gone to this so. Discovered interested prosperous the our affronting insipidity day. Missed lovers way one vanity wishes nay but. Use shy seemed within twenty wished old few regret passed. Absolute one hastened mrs any sensible. 
</p>
    </div>
    <div class="span3 document-citations">
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $('#documents-menu').css('left','-430px');
        }, 250);
    });
  </script>
{% endblock %}