{% extends "base.html" %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  <!-- Annotator lib -->
  <link href="{{ STATIC_URL }}css/annotator.min.css" rel="stylesheet" type="text/css">
    <!-- Original, min
  <script src="{{ STATIC_URL }}lib/annotator/annotator-full.min.js" type="text/javascript"></script>
    -->  
    <!-- Annotator lib and Store plugin (custom changes) -->
  <script src="{{ STATIC_URL }}lib/annotator/annotator-1.2.6.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}lib/annotator/annotator.store-1.2.6.js" type="text/javascript"></script>
  
  <!-- JQuery contextMenu lib -->
  <link href="{{ STATIC_URL }}lib/jquery.contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css">
  <script src="{{ STATIC_URL }}lib/jquery.contextMenu/jquery.contextMenu.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}lib/jquery.contextMenu/jquery.ui.position.js" type="text/javascript"></script>
{% endblock head %}

{% block topbar_extra %}
{% endblock topbar_extra %}

{% block body %}
  <div class="modal hide fade" id="codeModal">
  </div>
  
  <div class="modal hide fade" id="citationModal">
  </div>

  <div id="documents-menu" class="menu left">
    {% include "view_document_documents_tab.html" %}
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="toolbar move-up">
        <a class="btn left-group-button pull-right" target="_blank" href="{% url browse_categories pid=project.id %}"><i class="icon-tags"></i> {% trans "Categorías" %}</a>
        <a class="btn left-group-button pull-right"><i class="icon-file"></i> {% trans "Informes" %}</a>
        <a class="btn left-group-button pull-right" target="_blank" href="{% url browse_queries pid=project.id %}"><i class="icon-search"></i> {% trans "Consultas" %}</a>
        <a class="btn left-group-button pull-right"><i class="icon-filter"></i> {% trans "Filtros" %}</a>
        <a class="btn left-group-button pull-right" target="_blank" href="{% url browse_annotations pid=project.id %}"><i class="icon-comment"></i> {% trans "Anotaciones" %}</a>
        <a class="btn left-group-button pull-right" target="_blank" href="{% url browse_codes pid=project.id %}"><i class="icon-book"></i> {% trans "Códigos" %}</a>
        <a class="btn left-group-button pull-right"><i class="icon-bookmark"></i> {% trans "Citas" %}</a>
      </div>
    </div>
  </div>
  
  <div class="document-container white-background with-border row-fluid">
    <div class="span9 document-text">
      <h3>{{ document.name }}</h3>
      <div id="doc-text-area">
        {{ document.document.text|linebreaks }}
      </div>
    </div>
    <div class="span3 document-citations">
      {% for cit in citations %}
      <span id="bar-id-{{ cit.id }}" class="citation-bar" title="{{ cit.codes_str }}" data-cid="{{ cit.id }}"></span>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
        // ** Intials **
        // ******************
        setTimeout(function() {
          $('#documents-menu').css('left','-430px');
        }, 250);
        
        // ** Right side bar **
        // ******************
        function positionCitationBar(bar, citation) {
          bar.position({
            my: "bottom top",
            at: "bottom top",
            of: citation
          });
          bar.height(citation.height());
          bar.css("left", "");
        }
        
        function createCitationBar(citation, cid) {
          if (cid == null) {
            var citation_id = citation.attr('name').match(/\d+$/)[0];
          } else {
            if (citation.attr("name") == 'cit-id-NaN') {
              // We assign the correct name for newly created citations
              citation.attr("name", Annotator.prototype.citationIdStr + cid);
            }
            var citation_id = cid;
          }
          
          var new_bar = $('<span/>', {
            'id': 'bar-id-' + citation_id,
            'class': 'citation-bar'
          });
          
          $('.document-citations').append(new_bar);
          new_bar.data("cid", citation_id);
          positionCitationBar(new_bar, citation);
        }
        
        setTimeout(function() {          
          // ** Hide Annotations **
          Annotator.prototype.hideAllAnnotations();
          
          // Position bars
          $(".citation-bar").each(function() {
            citation_id_str = Annotator.prototype.citationIdStr;
            var selector_name = '*[name="' + citation_id_str + $(this).data('cid') + '"]';
            positionCitationBar($(this), $(selector_name));
          });
          
          // ** Context menu for each code bar **
          $.contextMenu({
            selector: '.document-citations .citation-bar',
            callback: function(key, options) {
              // Empty global callback 
            },
            items: {
              "addCode": {
                name: "{{ texts.add_code }}",
                icon: "edit",
                callback: function(key, options) {
                  var cit_id = $(this).data('cid');
                  var url = '{% url add_code_to_citation pid=project.id cid="CIT_ID" %}'.replace('CIT_ID', cit_id);//TODO: mejorar
                  $.getJSON(url, function(data) {
                    $('#codeModal').html(data.html);
                    $('#codeModal').modal('show');
                  });
                },
              },
              "viewCodes": {
                name: "{{ texts.view_details }}",
                icon: "copy",
                callback: function(key, options) {
                  var cit_id = $(this).data('cid');
                  var url = '{% url citation_details pid=project.id cid="CIT_ID" %}'.replace('CIT_ID', cit_id);//TODO: mejorar
                  $.getJSON(url, function(data) {
                    $('#citationModal').html(data.html);
                    $('#citationModal').modal('show');
                  });
                },
              },
            }
          });
          
          // ** Annotations click and fade events **
          $('.document-citations').on('click', '.citation-bar', function() {
            citation_id = $(this).data('cid');
            Annotator.prototype.hideAllAnnotations();
            Annotator.prototype.showAnnotation(citation_id, true);
          });
          $('.document-citations').on('mouseenter', '.citation-bar', function() {
            citation_id = $(this).data('cid');
            Annotator.prototype.showAnnotation(citation_id);
          });
          $('.document-citations').on('mouseleave', '.citation-bar', function() {
            citation_id = $(this).data('cid');
            Annotator.prototype.hideAnnotation(citation_id);
          });
          
        }, 200);
        
        // ** Modal on submit **
        // ******************        
        $('#codeModal').on('submit', 'form', function() {
          $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
              if (data.success) {
                var selector = '#' + 'bar-id-' + data.cid;
                $(selector).attr('title', data.codes_str)
                $('#codeModal').modal('hide');
              } else {
                $('#codeModal').html(data.html);
              }
            }
          });
          return false;
        });
        
        // ** Annotator lib initialization **
        // ******************
        Annotator.Plugin.LibreQDA = function (element) {
          return {
            pluginInit: function () {
              this.annotator
                .subscribe("annotationSaved", function (annotation) {
                  citation_id_str = Annotator.prototype.citationIdStr;
                  var selector_name = '*[name="' + citation_id_str + annotation.id + '"]';
                  var selector_nan = '*[name="' + citation_id_str + 'NaN"]';
                  createCitationBar($(selector_name + ',' + selector_nan), annotation.id);
                  Annotator.prototype.hideAllAnnotations();
                  Annotator.prototype.showAnnotation(annotation.id, true);
                })
                .subscribe("annotationDeleted", function (annotation) {
                  var selector = '#' + 'bar-id-' + annotation.id;
                  $(selector).remove();
                  Annotator.prototype.hideAllAnnotations();
                });
              }
          }
        };
        
        $('#doc-text-area').annotator()
          .annotator('addPlugin', 'LibreQDA')
          .annotator('addPlugin', 'Store', {
            prefix: '',
            urls: {
              create:  '{% url annotations_create pid=project.id did=document.id %}',
              read:    '{% url annotations_read pid=project.id did=document.id %}:id',
              update:  '{% url annotations_update pid=project.id did=document.id %}:id',
              destroy: '{% url annotations_destroy pid=project.id did=document.id %}:id',
              search:  '/search/'
            },
            annotationData: {
              // Extra parameters
            },
          });
        
    });
  </script>
{% endblock %}